
html {
  box-sizing: border-box;
  min-height: 100%;
  margin: 0px;
  letter-spacing: 3px;
  font-weight: bold;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
      font-family: 'indy_pimpregular', CenturyGothic, AppleGothic, sans-serif;
      font-weight: normal;
      font-style: normal;
      min-height: 100%;
      margin: 0px;
  }

  /* PAGE HEADER
  -----------------------------------------*/

.header {
    max-width: 75%;
    height: auto;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    margin-bottom: 0%;
}

/* Shop
-----------------------------------------*/
.ECOM{
  max-width: 100%;
  margin-top: 5%;
  clear: both;
}

.SHOP {
  max-width: 100%;
  margin: 0%;
  padding: 0%;
}

/* top block
-----------------------------------------*/

.QUILTBAG {
   max-width: 100%;
   height: auto;
   margin-left: 10%;
   margin-right: 10%;
   line-height: 300%;
}

/* EVENTS
-----------------------------------------*/

.EVENTS {
  max-width: 100%;
  height: auto;
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  line-height: 300%;
}

h1 {
  text-align: center;
}
.sec-1{
  float: left;
  width: 50%;
}
.sec-2{
  float: right;
  width: 50%;
}
img.logo-1 {
  width: 75%;
  height: auto;
}



  /* Social Media
-----------------------------------------*/

.social {
  float: left;
  max-width: 100%;
  height: auto;
  margin: 10%;
  padding: 20px 0 20px 20px;
  display: block;
  clear: both;
}

img.logo {
  width: 75%;
  height: auto;
}

.col-1 {
  float: left;
  width: 33%;
  overflow: hidden;
}

.col-2 {
  float: left;
  width: 33%;
  overflow: hidden;
}

.col-3 {
  float: right;
  width: 33%;
  overflow: hidden;
}

/* Footer
-----------------------------------------*/
footer {
  max-width: 75%;
  height: auto;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
  clear: both;
}

div.division {
  margin: 5px;
}

img.line {
  max-width: 100%;
  height: auto;
}

.copyright {
  float: right;
  padding: 2%;
}

.button {
  width: 75%;
  height: auto;
  float: left;
  width: 10%;
}

.contact {
    float:left;
 }

 .email {
   padding: 10%;
 }
