
html {
  box-sizing: border-box;
  min-height: 100%;
  margin: 0px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
      font-family: 'indy_pimpregular', CenturyGothic, AppleGothic, sans-serif;
      font-weight: normal;
      font-style: normal;
      min-height: 100%;
      margin: 0px;
  }

  /* PAGE HEADER
  -----------------------------------------*/

.header {
    max-width: 75%;
    height: auto;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    margin-bottom: 0%;
}

/* Shop
-----------------------------------------*/
.ECOM{
  max-width: 100%;
  margin-top: 5%;
  clear: both;
}

.SHOP {
  max-width: 100%;
  margin: 0%;
  padding: 0%;
}

  /* Social Media
-----------------------------------------*/

.social {
  float: left;
  max-width: 100%;
  height: auto;
  padding: 20px 0 20px 20px;
  display: block;
  clear: both;
}

img.logo {
  width: 75%;
  height: auto;
}

.col-1-3 {
  float: left;
  width: 50%;
}

.col-2-3 {
  float: right;
  width: 50%;
}

/* Footer
-----------------------------------------*/
footer {
  max-width: 75%;
  height: auto;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
  clear: both;
}

div.division {
  margin: 5px;
}

img.line {
  max-width: 100%;
  height: auto;
}

.copyright {
  float: right;
}

.button {
  width: 75%;
  height: auto;
}

.envelope {
  float: left;
  width: 10%;
 }
